<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsj.test.dao.StaticDataPluginBeanMapper" >
  <resultMap id="BaseResultMap" type="com.lsj.test.bean.StaticDataPluginBean" >
    <result column="data_id" property="dataId" jdbcType="INTEGER" />
    <result column="data_type" property="dataType" jdbcType="VARCHAR" />
    <result column="data_value" property="dataValue" jdbcType="VARCHAR" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    data_id, data_type, data_value, ext1
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lsj.test.bean.StaticDataPluginBeanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from static_datas
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.lsj.test.bean.StaticDataPluginBean" >
    insert into static_datas (data_id, data_type, data_value, 
      ext1)
    values (#{dataId,jdbcType=INTEGER}, #{dataType,jdbcType=VARCHAR}, #{dataValue,jdbcType=VARCHAR}, 
      #{ext1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.test.bean.StaticDataPluginBean" >
    insert into static_datas
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dataId != null" >
        data_id,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="dataValue != null" >
        data_value,
      </if>
      <if test="ext1 != null" >
        ext1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dataId != null" >
        #{dataId,jdbcType=INTEGER},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="dataValue != null" >
        #{dataValue,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lsj.test.bean.StaticDataPluginBeanExample" resultType="java.lang.Integer" >
    select count(*) from static_datas
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>